@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<div class="mb-4">
    <h4>Weather links with rowcount:</h4>
    <ul>
        <li><a href="weather/1">Weather 1</a></li>
        <li><a href="weather/2">Weather 2</a></li>
        <li><a href="weather/3">Weather 3</a></li>
        <li><a href="weather/4">Weather 4</a></li>
        <li><a href="weather/5">Weather 5</a></li>
        <li><a href="weather/10">Weather 10</a></li>
        <li><a href="weather/15">Weather 15</a></li>
        <li><a href="weather/20">Weather 20</a></li>
        <li><a href="weather/35">Weather 35</a></li>
        <li><a href="weather/50">Weather 50</a></li>
        <li><a href="weather/100">Weather 100</a></li>
        <li><a href="weather/500">Weather 500</a></li>
    </ul>
</div>

<div class="mb-3">
    <h4>Api Versions: </h4>
    <code>
        <pre>
            @_apiVersions
        </pre>
    </code>
</div>

<div class="mb-3">
    <h4>Web Versions: </h4>
    <code>
        <pre>
            @_webVersions
        </pre>
    </code>
</div>

<div class="mb-3">
    <h4>MediaFilesOptions:</h4>
    <h5>All</h5>
    <code>
        <pre>
            @_mediaFilesOptions
        </pre>
    </code>
    <h5>Images:</h5>
    <code>
        <pre>
            @_imageOptions
        </pre>
    </code>
    <h5>Videos:</h5>
    <code>
        <pre>
            @_videoOptions
        </pre>
    </code>
    <h5>Sounds:</h5>
    <code>
        <pre>
            @_soundOptions
        </pre>
    </code>
</div>



